@page "/Admin/Stores"
@layout AdminLayout

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Stores</li>
    </ol>
</nav>

<div class="box">
    <div class="box-header">
        <div class="box-title">
            Stores
        </div>
        <div class="box-tools">
            <a class="btn btn-sm btn-primary" href="/Admin/Stores/New">
                Create New
            </a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-hover table-borderless">
            <thead>
                <tr class="border-bottom">
                    <th>ID</th>
                    <th>Name</th>
                    <th class="d-none d-lg-table-cell">Update Date</th>
                    <th class="d-none d-sm-table-cell">Create Date</th>
                </tr>
            </thead>
            <tbody>
                @if (Stores != null)
                {
                    @foreach (MStore store in Stores)
                    {
                        <tr class="border-top">
                            <td>@store.Id</td>
                            <td><a href="/Admin/Stores/@store.Id" class="text-decoration-none">@store.Name</a></td>
                            <td class="d-none d-lg-table-cell">@store.UpdateDate</td>
                            <td class="d-none d-sm-table-cell">@store.CreateDate</td>
                        </tr>
                    }
                }        
            </tbody>
        </table>
    </div>
</div>