@inherits LayoutComponentBase
@namespace RestoreMonarchy.PaymentGateway.Web.Blazor.Shared.Layouts

<PageTitle>Restore Monarchy Payment Gateway</PageTitle>

<div class="container mt-3">
    @Body
</div>
