html, body {
    height: 100% !important;
}

body {
    display: flex;
    align-items: center !important;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1e1e1e;
}

main {
    display: flex;
    width: 100%;
}

.form-signin {
    padding: 30px;
    margin: auto;
}